<template >
  <v-responsive class="align-centerfill-height mx-auto" max-width="900">
    <v-card>
      <v-card-item>
        <v-card-title>This is a title</v-card-title>

        <v-card-subtitle>This is a card subtitle</v-card-subtitle>
      </v-card-item>

      <v-card-text>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus!
      </v-card-text> 

    </v-card>
  </v-responsive>
</template>

<script setup>
  //
</script>